In [71]:
import pandas as pd

In [72]:
pop = pd.read_csv('population.csv')
pop

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [73]:
df = pd.read_excel('enroll.xlsx')
df

,Unnamed: 0,country,countrycode,region,incomegroup,iau_id,iau_id1,eng_name,orig_name,foundedyr,...,divisions,total_fields,unique_fields,specialized,merger,noiau,year,students5_interpolated,students5_extrapolated,students5_estimated
0,0,afghanistan,AFG,South Asia,Low income,IAU-000810,IAU-000810-1,Alberoni University,Alberoni University,1998,...,NaN,NaN,NaN,0,0,0,2000,NaN,1546.0,1546.0
1,1,afghanistan,AFG,South Asia,Low income,IAU-000810,IAU-000810-1,Alberoni University,Alberoni University,1998,...,NaN,NaN,NaN,0,0,0,2005,NaN,2106.0,2106.0
2,2,afghanistan,AFG,South Asia,Low income,IAU-000810,IAU-000810-1,Alberoni University,Alberoni University,1998,...,NaN,NaN,NaN,0,0,0,2010,2317.0,2317.0,2317.0
3,3,afghanistan,AFG,South Asia,Low income,IAU-000810,IAU-000810-1,Alberoni University,Alberoni University,1998,...,NaN,NaN,NaN,0,0,0,2015,1835.0,1835.0,1835.0
4,4,afghanistan,AFG,South Asia,Low income,IAU-000810,IAU-000810-1,Alberoni University,Alberoni University,1998,...,9.0,22.0,21.0,0,0,0,2020,NaN,1901.0,1901.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138347,161555,zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,IAU-021853,IAU-021853-1,Zimbabwe Open University,(ZOU),1993,...,NaN,NaN,NaN,0,0,0,2010,13773.0,13773.0,13773.0
138348,161556,zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,IAU-021853,IAU-021853-1,Zimbabwe Open University,(ZOU),1993,...,NaN,NaN,NaN,0,0,0,2015,11662.0,11662.0,11662.0
138349,161557,zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,IAU-021853,IAU-021853-1,Zimbabwe Open University,(ZOU),1993,...,6.0,40.0,40.0,0,0,0,2020,22265.0,22265.0,22265.0
138350,161558,zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,IAU-024536,IAU-024536-1,Zimbabwe Ezekiel Gut University,(ZEGU),2012,...,NaN,NaN,NaN,0,0,0,2015,NaN,1262.0,1262.0
138351,161559,zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,IAU-024536,IAU-024536-1,Zimbabwe Ezekiel Gut University,(ZEGU),2012,...,4.0,25.0,25.0,0,0,0,2020,1347.0,1347.0,1347.0

In [74]:
countries_pop = list(pop['Country (or dependency)'].unique())
len(countries_pop)

235

In [75]:
countries_enroll = list(df['country'].unique())
len(countries_enroll)

194

In [76]:
common_elements = set([c.lower() for c in countries_pop]).intersection([c.lower() for c in countries_enroll])
len(common_elements)

167

In [77]:
non_common_elements = set([c.lower() for c in countries_pop]).difference([c.lower() for c in countries_enroll])
len(non_common_elements)

68

In [78]:
for ind in pop.index:
    if pop.loc[ind, 'Country (or dependency)'] == 'Bahamas':
        pop.loc[ind, 'Country (or dependency)'] = 'bahamas, the'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Brunei':
        pop.loc[ind, 'Country (or dependency)'] = 'brunei darussalam'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Hong Kong':
        pop.loc[ind, 'Country (or dependency)'] = 'china - hong kong'
    
    elif pop.loc[ind, 'Country (or dependency)'] == "Côte d'Ivoire":
        pop.loc[ind, 'Country (or dependency)'] = "cote d'ivoire"
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Curaçao':
        pop.loc[ind, 'Country (or dependency)'] = 'cura��ao'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Czech Republic (Czechia)':
        pop.loc[ind, 'Country (or dependency)'] = 'czech republic'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Faeroe Islands':
        pop.loc[ind, 'Country (or dependency)'] = 'faroe islands'
        
    elif pop.loc[ind, 'Country (or dependency)'] == 'Kyrgyzstan':
        pop.loc[ind, 'Country (or dependency)'] = 'kyrgyz republic'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Guinea-Bissau':
        pop.loc[ind, 'Country (or dependency)'] = 'guinea bissau'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Laos':
        pop.loc[ind, 'Country (or dependency)'] = "lao pdr"
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Russia':
        pop.loc[ind, 'Country (or dependency)'] = 'russian federation'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Saint Kitts & Nevis':
        pop.loc[ind, 'Country (or dependency)'] = 'saint kitts and nevis'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Sao Tome & Principe':
        pop.loc[ind, 'Country (or dependency)'] = 'sao tome and principe'
        
    elif pop.loc[ind, 'Country (or dependency)'] == 'Slovakia':
        pop.loc[ind, 'Country (or dependency)'] = 'slovak republic'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Syria':
        pop.loc[ind, 'Country (or dependency)'] = "syrian arab republic"
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Gambia':
        pop.loc[ind, 'Country (or dependency)'] = 'the gambia'
    
    elif pop.loc[ind, 'Country (or dependency)'] == 'Timor-Leste':
        pop.loc[ind, 'Country (or dependency)'] = 'timor leste'

In [79]:
pop['Country (or dependency)'] = pop['Country (or dependency)'].apply(lambda x: x.lower())

In [80]:
newrows = [
    {'Country (or dependency)' : 'congo, dem rep', 'Population (2020)': 89560000, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
    
    {'Country (or dependency)' : 'congo, rep', 'Population (2020)': 5518000, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
    
    {'Country (or dependency)' : 'france - french guyana', 'Population (2020)': 298682, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
   
    {'Country (or dependency)' : 'france - french polynesia', 'Population (2020)': 280904, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
   
    {'Country (or dependency)' : 'france - martinique', 'Population (2020)': 376403, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
   
    {'Country (or dependency)' : 'france - new caledonia', 'Population (2020)': 271960, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
   
    {'Country (or dependency)' : 'france - reunion', 'Population (2020)': 895312, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
  
    {'Country (or dependency)' : 'korea, dem people���s rep', 'Population (2020)': 25780000, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
 
    {'Country (or dependency)' : 'korea, rep', 'Population (2020)': 51840000, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
  
    {'Country (or dependency)' : 'palestine', 'Population (2020)': 4800000, 'Yearly Change': None,
       'Net Change': None, 'Density (P/Km²)': None, 'Land Area (Km²)': None, 'Migrants (net)': None,
       'Fert. Rate': None, 'Med. Age': None, 'Urban Pop %': None, 'World Share': None},
]

pop = pop.append(newrows, ignore_index=True)

C:\Users\alexf\AppData\Local\Temp\ipykernel_26028\638601024.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pop = pop.append(newrows, ignore_index=True)

In [81]:
countries_pop = list(pop['Country (or dependency)'].unique())
len(countries_pop)

245

In [82]:
countries_enroll = list(df['country'].unique())
len(countries_enroll)

194

In [83]:
common_elements = set(countries_enroll).intersection(countries_pop)
len(common_elements)

194

In [84]:
pop.to_excel('country_populations.xlsx', index=False)